.jumbotron {
    background-image:url("images/clouds.jpg");
    background-attachment:fixed;
    margin: 0px;
}

.my_header h1 {
    font-size: 43px;
    font-weight: bolder;
    color: black;
}

.my_header h2 {
    font-weight: bolder;
    color: dimgray;
}

.home_body {
    margin-top: 50px;
}

.page-header{
}

.home_body p{
    font-size: 16px;
    line-height: 25px;
}

.panel-body {
    background-color: #f4f5c7;
}

body {
    background-color: gainsboro;
}
